* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
input:focus {
  outline: none;
}
input:disabled {
  color: black;
}
select:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
hr {
  color: black;
  background-color: black;
  width: 100%;
}
pre {
  white-space: pre-line;
  margin: 0;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
p {
  margin: 0;
}
figure {
  margin: 0;
}